@model MundiPagg.Blog.WebUI.Models.PostModel

<!-- Header -->
<header class="intro-header" style="background-image: url('@Href("~/Content/Bootstrap/img", "post-bg.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@(Model != null ? Model.Title : "")</h1>
                    <h2 class="subheading">@(Model != null ? Model.Summary : "")</h2>
                    <span class="meta">@(Model != null ? Model.PostedBy : "")</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @if (Model != null)
                {   
                    @Html.Raw(Model.Content)
                }
                else
                {
                    <h1>Ops! Algo deu errado: O post requisitado não foi encontrado.<br /> :(</h1>
                }
            </div>
        </div>
    </div>
</article>
