@model MundiPagg.Blog.WebUI.Models.LogOnModel
@{
    ViewBag.Title = "Entrar";
}

<!-- Header -->
<header class="intro-header" style="background-image: url('@Href("~/Content/Bootstrap/img", "post-bg.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>@ViewBag.Title</h1>
                    <hr class="small">
                    <span class="subheading">Faça seu login</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
            Entre com seu nome e senha. @Html.ActionLink("Registre-se", "Register") Se ainda não tem uma conta.
        </p>
        @Html.ValidationSummary(true, "Não foi possível efetuar o login. Corrija os erros e tente novamente.")
    </div>

    @using (Html.BeginForm())
    {
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder="Login"})
                    <p class="help-block text-danger">
                        @Html.ValidationMessageFor(m => m.UserName)
                    </p>
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @placeholder="Senha"})
                    <p class="help-block text-danger">
                        @Html.ValidationMessageFor(m => m.Password)
                    </p>
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    @Html.LabelFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe)
                </div>
            </div>
            @*<div class="editor-label">
                
            </div>*@

            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default">Enviar</button>
                </div>
            </div>
    }
</div>
